.tp-full-width {
    width: 100%;
 }

.btn {
    text-align: right;
    font-size: 10px;
margin: 5px;
}

.mat-dialog-title{
    font-size: 12px;
    margin-bottom: 5px;
}
.mat-dialog-container{
    padding: 10px;
}